In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

## Load data

In [3]:
df = pd.read_excel("Apples_stock price dataset.xlsx" )
df.head(3)

,timestamp,stock_price,nasdaq_index,sp500_index,inflation_rate,unemployment_rate,interest_rate,market_sentiment
0,2010-01-01 00:00:00,102.483571,7984.160950,2994.240923,4.585202,6.837412,1.175768,0.095094
1,2010-01-01 01:00:00,99.347236,7995.706186,2995.831788,2.628987,5.851430,1.918567,-0.241960
2,2010-01-01 02:00:00,103.315558,8000.887651,2998.119650,2.616145,6.235115,2.436716,-0.833554

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   timestamp          100000 non-null  datetime64[ns]
 1   stock_price        99969 non-null   float64
 2   nasdaq_index       99993 non-null   float64
 3   sp500_index        99996 non-null   float64
 4   inflation_rate     99992 non-null   float64
 5   unemployment_rate  99996 non-null   float64
 6   interest_rate      99998 non-null   float64
 7   market_sentiment   99996 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 6.1 MB

In [5]:
#df['timestamp'] = pd.to_datetime(df['timestamp'])
#df.head()

## Extract date and time

In [6]:
# Extract only the date part
df['date'] = df['timestamp'].dt.date

# Extract only the time part
df['time'] = df['timestamp'].dt.time

### Exclude weekends and 8pm to 4am data

In [7]:
import datetime

start_time = datetime.time(4, 0)   # 04:00:00
end_time   = datetime.time(20, 0)   # 20:00:00

df_filtered = df[(df['time'] >= start_time) & (df['time'] <= end_time) & (df['timestamp'].dt.weekday < 5)]

In [8]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50592 entries, 4 to 99980
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          50592 non-null  datetime64[ns]
 1   stock_price        50574 non-null  float64
 2   nasdaq_index       50588 non-null  float64
 3   sp500_index        50589 non-null  float64
 4   inflation_rate     50588 non-null  float64
 5   unemployment_rate  50588 non-null  float64
 6   interest_rate      50592 non-null  float64
 7   market_sentiment   50592 non-null  float64
 8   date               50592 non-null  object
 9   time               50592 non-null  object
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 4.2+ MB

## Handling null values

In [9]:
df_filtered.isnull().sum()

timestamp             0
stock_price          18
nasdaq_index          4
sp500_index           3
inflation_rate        4
unemployment_rate     4
interest_rate         0
market_sentiment      0
date                  0
time                  0
dtype: int64

In [10]:
# Get null counts
null_counts = df_filtered.isnull().sum()
null_features = null_counts[null_counts > 0]

print(f'Columns imputed with forward fill')
for item in null_features.items():    
    df_filtered[item[0]] = df_filtered[item[0]].ffill()
    print(f' {item[0]} ')

Columns imputed with forward fill
 stock_price
 nasdaq_index
 sp500_index
 inflation_rate
 unemployment_rate

#### create new csv file and export all cleaned data

In [11]:
df_filtered.to_csv('cleaned_Apples_stock price dataset.csv')

The cleaned_Apples_stock price dataset.csv file contains cleaned data, which means data without nulls, and it is ready for visualisation part and fuller test